/*MODAL CONTENT*/
.modalHeader{
    text-align:center; 
}

.modalCheckboxContainer{
    margin-top: 4%; 
}

.modalInputContainer{
    padding-right: -30%; 
}

#modalBudget{
    align-content: center; 
}

/* END MODAL CONTENT*/