<!DOCTYPE html>
<html ng-app="emio">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <!-- Compiled and minified CSS -->
    <script src="https://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
    <script src="//code.angularjs.org/1.3.0-rc.2/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.3.0-rc.2/angular-resource.min.js"></script>
    <link rel="stylesheet" href="css/materialize.css" media="screen,projection">
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">


    <meta charset="utf-8">
    <title>em.io</title>

  </head>
  <body>
    <h2 class="heading white-text">em.i<i class="fa fa-smile-o" aria-hidden="true"></i></h2>
    <input id="pac-input" class="controls" type="text" placeholder="Search">
    <div id="map"></div>



    <!-- FLOATING ACTION BUTTON -->
     <div class="fixed-action-btn">
       <a class="btn-floating btn-large blue-grey lighten-2">
         <i class="large material-icons">mode_edit</i>
       </a>
        <ul>
            <li><a href="#statsModal" class="btn-floating yellow darken-1" id="stats"><i class="fa fa-cog fa-md"></i></a></li>
            <li><a href="#travelModal" class="btn-floating blue" id="travel"><i class="fa fa-plane fa-md"></i></a></li>
            <li><a href='#healthModal' class="btn-floating red button-collapse"><i class="fa fa-heartbeat fa-md"></i></a></li>
        </ul>
      </div>



      <!-- FLOATING ACTION BUTTON MODALS  -->

      <!--   Statistics Modal    -->
        <div id="statsModal" class="modal">
                <div class="modal-content row">
                    <i class="modal-close material-icons exitModal">call_made</i>
                    <div class="modalHeader">
                        <h4>Filter</h4>
                    </div>
                  <form novalidate class="modalInputContainer" action="#">
                     <!-- KEY WORDS -->
                      <div class="row">
                        <div class="input-field col s11">
                            <input id="location" type="text" class="novalidate">
                            <label for="location">Key Word</label>
                        </div>
                      </div>
                  <!-- <form class="col s4 modalCheckboxContainer" action="#"> -->
                  <div class="col s4">
                    <!-- JOY -->
                    <p>
                      <input type="checkbox" class="filled-in" id="joy-checkbox" />
                      <label for="joy-checkbox">Joy</label>

                    </p>
                    <!-- SADNESS  -->
                    <p>
                      <input type="checkbox" class="filled-in" id="sadness-checkbox" />
                      <label for="sadness-checkbox" >Sadness</label>
                    </p>

                  </div>

                  <div class="col s4">
                 <!-- <form class="col s4 modalCheckboxContainer"> -->
                   <!-- FEAR -->
                   <p>
                     <input type="checkbox" class="filled-in" id="fear-checkbox"  />
                     <label for="fear-checkbox">Fear</label>
                   </p>
                   <!-- ANGER -->
                   <p>
                     <input type="checkbox" class="filled-in" id="anger-checkbox"  />
                     <label for="anger-checkbox">Anger</label>
                   </p>
                </div>
                <div class="col s4">
                  <!-- DISGUST -->
                  <p>
                    <input type="checkbox" class="filled-in" id="disgust-checkbox"  />
                    <label for="disgust-checkbox">Disgust</label>
                  </p>
                </div>
              </form>
              </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Update</a>
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat settingsCancel">Cancel</a>
                </div>
        </div>
        <!--    /Statistics Modal    -->


        <!--     Travel Modal        -->
        <div ng-controller="TravelController" id="travelModal" class="modal">
                <div class="modal-content">
                    <div class="modalHeader">
                        <i class="modal-close material-icons exitModal">call_made</i>
                        <h4>Travel</h4>
                    </div>

                  <form class="col s12 modalInputContainer">
                      <div class="row">
                        <div class="input-field col s12" id="modalBudget">
                            <input ng-model="user.budget" id="budget" type="number" class="validate">
                            <label for="budget">Budget</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12" id="modalAirport">
                          <input ng-model="user.airport" id="airport" type="text" class="validate">
                          <label for="airport">Airport Code</label>
                        </div>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <a class="modal-action waves-effect waves-green btn-flat"><input type="submit" ng-click="submit" ng-match="airportCheck" value="Update" /></a>
                  <a class="modal-action waves-effect waves-green btn-flat settingsCancel"><input type="button" ng-click="reset()" value="Reset" /></a>
                </div>
        </div>

        <!--     /Travel Modal        -->

        <!-- AMODEUS MODAL -->

        <div id="amodeusModal" class="modal">
                <div class="modal-content">
                    <div class="modalHeader">
                        <i class="modal-close material-icons exitModal">call_made</i>
                        <h4>Flight Listings</h4>
                    </div>
                  <div class="col s12">
                    <table>
                       <thead>
                         <tr>
                             <th data-field="destination">Destination</th>
                             <th data-field="departure">Departure Date</th>
                             <th data-field="price">Price</th>
                             <th data-field="airline">Airline</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <tr data-ng-repeat="result in results">
                            <td data-title="'Destination'">{{result.destination}}</td>
                            <td data-title="'Departure'">{{result.departure_date}}</td>
                            <td data-title="'Price'" >{{result.price}}</td>
                            <td data-title="'Airline'" >{{result.airline}}</td>
                          </tr>
                         </tr>
                      </tbody>
                     </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="waves-effect waves-green btn-flat">Update</a>
                  <a href="#!" class="waves-effect waves-green btn-flat settingsCancel">Cancel</a>
                </div>
        </div>

        <!-- /AMODEUS MODAL -->





        <!--   Health Modal     -->
            <div id="healthModal" class="modal">
                <div class="modal-content">
                  <i class="modal-close material-icons exitModal">call_made</i>
                  <h4>Modal Header</h4>
                </div>
                <div class="modal-footer">
                  <a class=" waves-effect waves-green btn-flat">Update</a>
                  <a class=" waves-effect waves-green btn-flat settingsCancel">Cancel</a>
                </div>
            </div>
        <!--    /Health Modal     -->

        <script>angular.module('emio', [])
            .controller('TravelController', ['$scope', function($scope) {
              $scope.master = {};

              $scope.update = function(user) {
                $scope.master = angular.copy(user);
              };

              $scope.reset = function() {
                $scope.user = angular.copy($scope.master);
              };

              $scope.reset();
            }]);
</script>

    <script type="text/javascript" src="js/formValidation.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <!-- <script src="js/initializeMaterialize.js"></script> -->
    <script src="js/maps.js"></script>
    <script src="js/components.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAByALcbpCxZSAMjEiB-tbTkZ8MGEGQu-4&libraries=places&callback=initAutocomplete"
         async defer></script>
  </body>
</html>
